.addEventForm {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 100px;
    position: relative;
    width: 100%;
}

.formBlock {
    border: 2px solid #DADADA;
    border-radius: 10px;
    padding: 25px;
}

.saveButton {
    position: absolute;
    top: -70px;
    right: 0;
}

.information {
    width: 1000px;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: #81848D;
    font-weight: 600;
}

.inputArea {
    margin-block-start: 5px;
    height: 40px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    font-size: 13px;
    padding: 13px 10px;
}