.App {
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 50px auto;
  height: 100%;
  width: 1000px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px gainsboro;
}

.registration-form__label {
  display: flex;
}

.registration-form__input {
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 10px;
  border: gainsboro solid 1px;
  padding: 10px;
}

.registration-form__input::focus {
  border: gray solid 1px;
}
