.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

.header {
  background: #f8f8f8;
  margin: 0 30px;
  border-radius: 0 0 60px 60px;
  box-shadow: 0px 5px 20px 0px rgb(32 32 32 / 10%);
  padding: 30px 10px;
  text-transform: uppercase;
}

.header .col {
  padding: 0 20px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.header .col a:last-child {
  margin-right: 0;
}

.vertical-hr {
  height: 55px;
  width: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.header a:hover {
  color: #000;
}

.header div a:nth-child(2) {
  font-weight: 700;
  display: block;
}

.molodeznaya a:nth-child(2) {
  font-size: 10px;
  max-width: 250px;
}

.banner {
  padding: 60px;
  justify-content: space-between;
  gap: 20px;
}

.banner .col {
  flex: 0 0 auto;
  width: auto;
}

.banner img {
  height: 100%;
  object-fit: contain;
  border-radius: 122px !important;
}

.banner h1 {
  font-size: calc(2.3rem + 1.5vw);
  font-weight: 700;
  margin-bottom: 30px;
}

.banner p {
  font-size: 20px;
  margin-bottom: 100px;
}

.banner button {
  padding: 18px 60px;
}

button.hidden {
  display: none;
}

.about.row {
  padding: 60px;
  gap: 60px;
}

.about span {
  font-size: 20px;
}

.about > .col {
  align-items: center;
  padding: 0;
}

.about__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;
  background: #5e7fd6;
  min-width: 269px;
  height: 250px;
  color: #fff;
  box-shadow: 6px 6px 15px 0 #2b2ac5;
}

.about__item h2 {
  font-size: 3rem;
  margin-bottom: 21px;
}

.present {
  padding: 60px;
  gap: 150px;
}

.present img {
  width: 440px;
  height: 430px;
  object-fit: contain;
}

.present .col {
  flex: 0 0 auto;
  width: auto;
}

.present h2 {
  font-weight: 700;
  margin-bottom: 50px;
  font-weight: 3rem;
}

.present p {
  font-size: 24px;
  max-width: 600px;
}

.map {
  padding: 60px;
  text-align: center;
}

.map h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.map h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.75rem;
  width: auto;
  text-align: left;
}

.map__steps {
  margin-left: 70px;
}

.map__steps span {
  font-size: 36px;
  font-weight: 700;
  margin-left: -70px;
}

.map__steps p {
  max-width: 300px;
  font-size: 20px;
  margin-bottom: 0;
  text-align: left;
}

.map__steps img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  margin: 25px 15px;
}

.archive h2,
.partners h2 {
  font-size: 3rem;
  font-weight: 700;
  width: auto;
  margin-bottom: 30px;
  z-index: 3;
}

.partners .title {
  flex: 0 0 auto;
  justify-content: center;
  display: flex;
}

.archive {
  position: relative;
  margin: 0 0 60px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.archive::before,
.archive::after {
  background: linear-gradient(to right, #fff, #fff0);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.archive::before {
  left: 0;
}

.archive::after {
  right: 0;
  transform: rotateZ(180deg);
}

.partners {
  padding: 20px 0 60px;
}

.partners img {
  width: 160px;
  height: 160px;
  margin-right: 50px;
  object-fit: contain;
  padding: 0;
}

.registration {
  padding: 0 60px 60px;
}

.registration .col {
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.registration button {
  padding: 18px 133px;
  width: 100%;
}

button {
  font-weight: 700 !important;
}

.footer {
  background: #f8f8f8;
  margin: 0 30px;
  border-radius: 60px 60px 0 0;
  box-shadow: 0px 5px 20px 0px rgb(32 32 32 / 10%);
  padding: 30px;
}

.footer .col {
  padding: 0;
  flex: 0 0 auto;
  width: auto;
  line-height: 23px;
  font-size: 15px;
  height: 23px;
}

.add-child-button {
  height: 38px;
  width: 38px;
  padding: 4px !important;
}

.dates-row > .col {
  padding: 0 !important;
}

.dates-row {
  margin: 0 0 60px !important;
}

button.date-button {
  font-size: 24px !important;
  font-weight: 400 !important;
  border: transparent solid 2px;
  line-height: 30px;
  padding: 10px 15px;
}

button.date-button:hover {
  border: #5e7fd6 solid 2px;
  background: none;
  color: #000;
}

button.date-button:active {
  border: transparent solid 2px !important;
  background: transparent !important;
  color: #5e7fd6 !important;
}

button.date-button_checked {
  background: #5e7fd6;
  color: #fff;
}

button.date-button_checked:hover {
  background: #5e7fd6;
  color: #fff;
}

button.date-button_checked:active {
  background: #5e7fd6 !important;
  color: #fff !important;
}

.day-title {
  font-size: 70px;
  font-weight: 700;
  margin: 0 97px 70px;
}

.day-title_h2 {
  font-size: 48px;
  margin: 0 97px 33px;
}

.time-row {
  margin: 0 90px 60px !important;
}

.time-button {
  padding: 5px 20px !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 30px;
  border: #b8b8b8 solid 2px !important;
}

.time-button:hover {
  background: transparent !important;
  color: #000 !important;
  border: #868686 solid 2px !important;
}

.time-button:active {
  border: #5e7fd6 solid 2px !important;
}

.time-button_checked {
  border: #5e7fd6 solid 2px !important;
}

.events-row {
  padding: 47px 83px 47px 117px;
  background: #e5e5e5;
  border-radius: 60px;
}

.events-row .col {
  gap: 72px 100px;
  padding: 0;
}

.event-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 60px;
  max-width: 520px;
  min-height: 455px;
  padding: 12px 30px 30px;
  box-shadow: 7px 10px 7px 0 rgba(0, 0, 0, 0.25);
}

.event-card > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-card__duration {
  margin-bottom: 5px;
}

.event-card img {
  position: absolute;
  height: 100px;
  width: 100px;
  object-fit: cover;
  background: #5e7fd6;
  top: -17px;
  left: -62px;
}

.event-card h3 {
  margin: 0 0 0 27px;
  font-weight: 700;
  font-size: 24px;
}

.event-card hr {
  margin: 0 0 5px 0;
  height: 3px;
}

.event-card span,
.event-card p {
  font-size: 18px;
  font-weight: 500;
}

.event-card span:last-child {
  margin-bottom: 10px;
}

span.event-card__title {
  color: #787878;
  font-size: 16px;
  font-weight: 400;
}

.event-card__time.time-button {
  cursor: pointer;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
  margin-right: 15px;
}

.event-card__button {
  width: 240px;
  font-size: 16px !important;
  align-self: center;
  color: #5e7fd6 !important;
  border: #5e7fd6 solid 2px !important;
}

.event-card__button:hover {
  color: #fff !important;
  background: #5e7fd6 !important;
}

.event-card__button:active {
  background: #5777cf !important;
  border: #5777cf solid 2px !important;
}

/* carousel */

input[type="radio"] {
  display: none;
}

.carousel .card {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  opacity: 0;
}

.carousel.container {
  width: 100%;
  max-width: 30%;
  height: 450px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #photo-10,
#item-2:checked ~ .cards #photo-1,
#item-3:checked ~ .cards #photo-2,
#item-4:checked ~ .cards #photo-3,
#item-5:checked ~ .cards #photo-4,
#item-6:checked ~ .cards #photo-5,
#item-7:checked ~ .cards #photo-6,
#item-8:checked ~ .cards #photo-7,
#item-9:checked ~ .cards #photo-8,
#item-10:checked ~ .cards #photo-9 {
  opacity: 1;
  transform: translatex(-90%) scale(0.75);
  filter: blur(3px);
  z-index: 1;
}

#item-1:checked ~ .cards #photo-2,
#item-2:checked ~ .cards #photo-3,
#item-3:checked ~ .cards #photo-4,
#item-4:checked ~ .cards #photo-5,
#item-5:checked ~ .cards #photo-6,
#item-6:checked ~ .cards #photo-7,
#item-7:checked ~ .cards #photo-8,
#item-8:checked ~ .cards #photo-9,
#item-9:checked ~ .cards #photo-10,
#item-10:checked ~ .cards #photo-1 {
  opacity: 1;
  transform: translatex(90%) scale(0.75);
  filter: blur(3px);
  z-index: 1;
}

#item-1:checked ~ .cards #photo-3,
#item-2:checked ~ .cards #photo-4,
#item-3:checked ~ .cards #photo-5,
#item-4:checked ~ .cards #photo-6,
#item-5:checked ~ .cards #photo-7,
#item-6:checked ~ .cards #photo-8,
#item-7:checked ~ .cards #photo-9,
#item-8:checked ~ .cards #photo-10,
#item-9:checked ~ .cards #photo-1,
#item-10:checked ~ .cards #photo-2 {
  opacity: 1;
  transform: translatex(156%) scale(0.5);
  z-index: 0;
  filter: blur(6px);
}

#item-1:checked ~ .cards #photo-9,
#item-2:checked ~ .cards #photo-10,
#item-3:checked ~ .cards #photo-1,
#item-4:checked ~ .cards #photo-2,
#item-5:checked ~ .cards #photo-3,
#item-6:checked ~ .cards #photo-4,
#item-7:checked ~ .cards #photo-5,
#item-8:checked ~ .cards #photo-6,
#item-9:checked ~ .cards #photo-7,
#item-10:checked ~ .cards #photo-8 {
  opacity: 1;
  transform: translatex(-156%) scale(0.5);
  z-index: 0;
  filter: blur(6px);
}

#item-1:checked ~ .cards #photo-1,
#item-2:checked ~ .cards #photo-2,
#item-3:checked ~ .cards #photo-3,
#item-4:checked ~ .cards #photo-4,
#item-5:checked ~ .cards #photo-5,
#item-6:checked ~ .cards #photo-6,
#item-7:checked ~ .cards #photo-7,
#item-8:checked ~ .cards #photo-8,
#item-9:checked ~ .cards #photo-9,
#item-10:checked ~ .cards #photo-10 {
  opacity: 1;
  transform: translatex(0) scale(1);
  z-index: 2;
  filter: none;
}

@media screen and (max-width: 1400px) {
  .header .col {
    width: 100%;
    flex-wrap: wrap;
  }

  .header .col a:last-child {
    order: 999;
    margin-left: auto;
  }

  .vertical-hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1199px) {
  .banner h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 100% !important;
  }

  .carousel.container {
    max-width: 60% !important;
  }

  .banner button {
    display: none;
  }

  .banner p {
    margin-bottom: 20px;
  }

  .registration button,
  .banner button.hidden {
    padding: 18px 0.75rem;
    width: 100%;
  }

  .banner button.hidden {
    display: block;
    width: 100%;
  }

  .banner .col {
    width: 100%;
  }

  .map__steps p,
  .map__steps h3 {
    text-align: center;
  }

  .map__steps p {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header .col {
    justify-content: normal;
  }
}

@media screen and (max-width: 480px) {
  .carousel.container {
    max-width: 60% !important;
    max-height: 300px;
  }
}
